/* Aumenta el espacio entre el margen superior y la navbar */
.Cart {
  margin-top: 80px;
  text-align: center;
}

/* Estilos para los elementos individuales del carrito */
.CartItem {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

/* Alinea los elementos del carrito en una sola línea horizontal */
.CartItem-info {
  flex-grow: 1;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CartItem-info p {
  margin-right: 20px;
}

.NoItems {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}

.ProductLink {
  display: block;
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #007bff;
}

.Total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-weight: bold;
}

.Button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 1rem;
}

.Button:hover {
  background-color: #0056b3;
}

.CheckoutLink {
  display: block;
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.CheckoutLink:hover {
  background-color: #0056b3;
}