.ListGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .ListGroup {
    justify-content: center;
  }
}

.CardItem {
  width: calc(33.33% - 1rem);
  margin-bottom: 1rem;
}